.content {
    background-color: #ffffff;
    padding-bottom: 2em;
}

h2 {
    padding: 0;
    margin: 0;
}

.name {
    font-size: 1.5em;
}

.vs {
    font-size: 5em;
    padding-top: 100px;
}

pre {
    text-align: left;
}

.stats, .battle {
    margin-top: 1em;
}

.meme {
    cursor: hand;
    cursor: pointer;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: .95;
}

.loading img {
    position: fixed;
    top: 35%;
    left: 45%;
}
