* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "calibri", Garamond, Verdana;
}

h2 {
    padding: .5em;
    font-size: 2.5em;
}

.name {
    font-size: 120%;
    font-weight: bold;
}

pre {
    text-align: left;
}