@{
    ViewBag.Title = "Choose Meme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose A Meme To Play</h2>





@section scripts
{
    <script type="text/javascript">
        var allMemes = [];

        $.getJSON("@Url.RouteUrl("Api", new { controller = "MemeApi", action = "GetAll" })", function () {

        });
    </script>
}
